{% extends "src/components/layout.njk" %}
{% import "src/components/button.njk" as button %}

{% block main %}
    <div class="w-full pt-10 pl-20 pr-20">
        <div class="ml-40 items-baseline mb-10">
            <h1 class="text-4xl font-bold tracking-tight text-gray-900 ">Gestion du header</h1>
        </div>
        <div class="flex justify-end mb-10">
            <button class=" px-40 text-blue-600 ">
                <a href="https://ableton-dynamique.vercel.app/" target="_blank" class="inline-flex">Site web
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 ml-2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 6H5.25A2.25 2.25 0 003 8.25v10.5A2.25 2.25 0 005.25 21h10.5A2.25 2.25 0 0018 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25"></path>
                    </svg>
                </a>
            </button>
        </div>
        <div class="flex flex-col px-40">

            <form method="POST" action="/header/edit" class="space-y-4">
                <div class ="flex justify-between">
                    <div class="mt-2">
                        <label for="logo" class="text-xl w-96 font-medium leading-6 text-gray-900">Logo actuel </label>
                        <p class="mt-4 block w-96 pt-5 leading-6 text-gray-900">{{navbarLogo.logoSvg | safe}}</p>
                    </div>
                    <div class="mt-8">
                        <label for="title" class="text-xl  font-medium leading-6 text-gray-900">&#8203;</label>
                        <p class=" block my-2 py-1.5 text-gray-900 ">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3"/>
                            </svg>
                        </p>
                    </div>
                    <div>
                        <label for="logo" class="text-xl font-medium leading-6 text-gray-900">Logo format SVG<span class="text-sm"><br>Modifier le logo avec un nouveau SVG</span></label>
                        <textarea name="logoSvg" id="LogoSvg" class="resize-none block my-2 w-96 rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-gray-600">{{navbarLogo.logoSvg | safe}}</textarea>

                    </div>
                </div>
                <div class ="flex justify-between">
                    <div class="mt-2">
                        <label for="title" class="text-xl font-medium leading-6 text-gray-900">Titres</label>

                        {% for navTitle in navbar %}

                            <input type="text" name="title_{{loop.index0}}" id="title_{{loop.index0}}" value="{{ navTitle.title }}" class="block my-2 w-96 rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-gray-600">

                        {% endfor %}
                    </div>

                    <div class="mt-2">
                        <label for="title" class="text-xl font-medium leading-6 text-gray-900">&#8203;</label>
                        {% for svg in navbar %}
                            <p class="block my-2 py-1.5 text-gray-900">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3"/>
                                </svg>
                            </p>
                        {% endfor %}
                    </div>
                    <div class="mt-2">
                        <label for="href" class="text-xl font-medium leading-6 text-gray-900">Liens</label>

                        {% for navHref in navbar %}
                            <input type="text" name="href_{{loop.index0}}" id="href_{{loop.index0}}" value="{{ navHref.href }}" class="block my-2 rounded-md w-96 border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-gray-600">
                        {% endfor %}
                    </div>
                </div>
                <div class="flex justify-end items-baseline pt-5">
                    {{ button.primary("Sauvegarder",size="large",type="submit")}}
                </div>
            </form>
        </div>
        {% endblock%}