{% extends "./_layout.njk" %}

{% block main %}

    <div class="flex flex-col items-center justify-center text-center pt-60">
        <h1 class="font-semibold text-4xl">Page non trouvée</h1>
        <a href="/" class="text-sky-500 text-2xl mt-4">Retour à l'accueil</a>
    </div>

{% endblock %}