{% extends "./_layout.njk" %}

{% block head %}
    <title>Articles({{articles.length}})</title>
{% endblock %}

{% block main %}
    <div class="w-full pt-10 pl-20 pr-20">

        <div class="flex justify-between mb-20">
            <h1 class="text-4xl font-bold tracking-tight text-gray-900 pb-15">Articles({{articles.length}})</h1>
            <button class="bg-gray-500 text-white rounded-md p-3 hover:bg-gray-800">
                <a href="/create" class="text-xl">+ Nouveau
                        </a>
            </button>
        </div>

        {% set totalArticles = articles.length%}
        {% set currentPage = 1 %}
        {% set articlesPerPage = 5 %}
        {% set maxPage = (totalArticles / articlesPerPage) | round(0, "ceil") %}

        {% set currentPage = searchParams.page | int %}

        {% set startIndex = (currentPage - 1) * articlesPerPage %}
        {% set endIndex = startIndex + articlesPerPage %}

        {% for article in articles.slice(startIndex, endIndex) %}
            <div class="flex flex-col pt-1">
                <div class="box-border p-4 border-2 border-gray-500 rounded-md">
                    <div class="flex">
                        <div>
                            <img class="w-40 h-20" src="{{article.image}}">
                        </div>
                        <div class="pl-5 pr-5 w-full">
                            <h2 class="font-medium pb-1">{{article.title}}</h2>
                            <h2>
                                <p class="inline-block bg-gray-500 text-white text-sm rounded-md pl-1 pr-1">{{article.category}}</p>

                                <div class="flex justify-between items-center ">
                                    <p class="font-light text-xs">dernière modification le {{article.date}}</p>
                                    <div class="">
                                        <button id="button_published" class="bg-gray-500 text-white rounded-md px-2 mr-5 hover:bg-gray-800">
                                            <a href="" class="inline-flex">
                            Publié
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 ml-2">
                                                    <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 6H5.25A2.25 2.25 0 003 8.25v10.5A2.25 2.25 0 005.25 21h10.5A2.25 2.25 0 0018 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25"></path>
                                                </svg>
                                            </a>
                                        </button>
                                        <button id="button_edit" class="bg-gray-500 text-white rounded-md px-2 mr-5 hover:bg-gray-800">
                                            <a href="/edit?id={{article.id}}" class="inline-flex">
                            Editer
                          </a>
                                        </button>
                                        <form method="POST" class="inline-flex" action="/delete">
                                            <input type="hidden" name="id" value="{{article.id}}">
                                            <button type="submit" value="delete" class="bg-gray-500 text-white rounded-md pl-1 pr-1 hover:bg-red-500">Supprimer</button>
                                        </form>

                                    </div>
                                </div>
                            </h2>
                        </div>
                    </div>
                </div>

            </div>
        {% endfor %}
        <p class="flex justify-center pt-5 font-semibold">Page: {{searchParams.page}}/{{maxPage}}</p>
        <div class="pagination flex justify-center pt-10 space-x-96">
            {% if currentPage > 1 %}
                <a href="?page={{ currentPage - 1 }}">
                    <button type="submit" class="bg-gray-500 text-white rounded-md px-3 py-1 hover:bg-gray-800">
                Précédent
            </button>
                </a>
            {% endif %}
            {% if currentPage < maxPage %}
                <a href="?page={{ currentPage + 1 }}">
                    <button type="submit" class="bg-gray-500 text-white rounded-md px-3 py-1 hover:bg-gray-800">
                Suivant
            </button>
                </a>
            {% endif %}
        </div>
    </div>
    {% endblock%}