{% extends "src/components/_layout.njk" %}
{% import "src/components/_button.njk" as button %}
{% block main %}
    {% for article in articles.slice(0, 3) %}
        <div class="">
            {%if article.status === "published"%}
                <a href="" class="inline-flex">
                    <button class="bg-gray-500 text-white rounded-md pl-1 mr-5 hover:bg-gray-800">
                            Publié
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 ml-2">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 6H5.25A2.25 2.25 0 003 8.25v10.5A2.25 2.25 0 005.25 21h10.5A2.25 2.25 0 0018 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25"></path>
                        </svg>
                    </button>
                </a>
                {%else%}
                <a href="" class="inline-flex">
                    <button class="bg-gray-500 text-white text-center rounded-md px-2 mr-5 hover:bg-gray-800">
                    
                                                            Brouillon 
                                                            
                </button>
                </a>
                {%endif%}
                <a href="/articles/{{article.id}}" class="inline-flex">
                    <button id="button_edit" class="bg-gray-500 text-white rounded-md px-2 mr-5 hover:bg-gray-800">
                    
                            Editer
                          
                </button>
                </a>
                <form method="POST" class="inline-flex" action="/delete">
                    <input type="hidden" name="id" value="{{article.id}}">
                    <button type="submit" value="delete" class="bg-gray-500 text-white rounded-md pl-1 pr-1 hover:bg-red-500">Supprimer</button>
                </form>

            </div>
        </div>

    </div>
</div>
</div>
</div>

{% endfor %}
{% endblock %}