{% extends "./_layout.njk" %}

{% block main %}
    <div class="flex justify-center pt-20">
        <p class="mt-1 text-xm text-gray-500">la date est : {{ formatDate(articles[1].createdAt, "fr")}}</p>
    </div>
{% endblock %}