{% extends "src/components/layout.njk" %}
{% import "src/components/button.njk" as button %}

{% block head %}
    <title>Tableau de bord</title>
    <script src="modal.js"></script>
{% endblock %}
{% block main %}
    <div class="w-full pt-10 pl-20 pr-20 ">
        <h1 class="text-4xl font-bold tracking-tight text-gray-900">Tableau de bord</h1>
        <div class="flex justify-end">
            <button class="pt-10 text-blue-600">
                <a href="https://ableton-dynamique.vercel.app/" target="_blank" class="inline-flex">Site web
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 ml-2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 6H5.25A2.25 2.25 0 003 8.25v10.5A2.25 2.25 0 005.25 21h10.5A2.25 2.25 0 0018 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25"></path>
                    </svg>
                </a>
            </button>
            <button class="pt-10 text-blue-600 ml-20">
                <a href="https://analytics.google.com/analytics/web/#/p350515555/reports/intelligenthome" target="_blank" class="inline-flex">Analytics
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 ml-2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 6H5.25A2.25 2.25 0 003 8.25v10.5A2.25 2.25 0 005.25 21h10.5A2.25 2.25 0 0018 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25"></path>
                    </svg>
                </a>
            </button>
        </div>
        <h1 class="text-2xl font-bold tracking-tight text-gray-900 pt-10 pb-5">Les trois derniers articles </h1>

        {% for article in articles.slice(0, 3) %}
            <div class="flex flex-col pt-0.5">
                <div class="box-border p-4 border-2 border-gray-500 rounded-md">
                    <div class="flex">
                        <div>
                            <img class="w-40 h-20" src="{{article.image}}">
                        </div>
                        <div class="px-5 w-full">
                            <h2 class="font-medium pb-2">{{article.title}}</h2>
                            {{ button.primary(article.category_id | getPropertyById(category))}}
                            <div class="flex justify-between items-center ">
                                <p class="pt-2 font-light text-xs">
                                    {% if article.updated_at %}
                                         Dernière modification le {{ article.updated_at | formattedDate }} par
                                        {%if article.updated_by !== null %}
                                            {{(article.updated_by | getPropertyById(users))}}
                                            {%else%}
                                            {{(article.created_by | getPropertyById(users))}}
                                            {%endif%}
                                        {% else %}
                                        Créé le {{ article.created_at | formattedDate }} par {{(article.created_by | getPropertyById(users))}}
                                        {% endif %}
                                    </p>

                                    <div class="flex">
                                        {%if article.status === "published"%}
                                            <a target="_blank" href="https://ableton-dynamique.vercel.app/blog/{{article.title | createArticleSlug(article.id)}}.html" class="mr-5">
                                                {{ button.primary('Publié' + button.iconOpenTab()) }}
                                            </a>
                                            {%else%}
                                            <a href="" class="mr-5">
                                                {{ button.primary("Brouillon")}}
                                            </a>
                                            {%endif%}
                                            <a href="/articles/{{article.id}}"class="mr-5">
                                                {{ button.primary("Editer")}}
                                            </a>
                                            {{ button.primary("Supprimer", attribute='data-delete-article="' ~ article.id ~ '" data-title-article="' ~ article.title ~ '"') }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="pt-5">
                        <a href="/articles" class="text-blue-600">
            Voir tous les articles
          </a>
                    </div>

                    {% include "src/components/modalDelete.njk" %}

                {% endblock %}

            </div>