{% extends "src/components/layout.njk" %}
{% import "src/components/button.njk" as button %}
{% block head %}
    <title>Articles</title>
    <script src="modal.js"></script>
{% endblock %}

{% block main %}
    {% if searchParams.editSuccess or searchParams.deleteSuccess or searchParams.createSuccess or searchParams.connectSuccess  or searchParams.editHeaderSuccess%}
        <div class="rounded-md bg-green-50 p-4 mb-4">
            <div class="flex">
                <div class="flex-shrink-0">
                    <svg class="h-5 w-5 text-green-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd"/>
                    </svg>
                </div>

                {% if searchParams.editSuccess %}
                    {% set comment = 'Votre article a été modifié avec succès !' %}
                {% elif searchParams.deleteSuccess %}
                    {% set comment = 'Votre article a été supprimé avec succès !' %}
                {% elif searchParams.createSuccess %}
                    {% set comment = 'Votre article a été créé avec succès !' %}
                {% elif searchParams.connectSuccess %}
                    {% set comment = 'Vous êtes connecté' %}
                {%elif  searchParams.editHeaderSuccess %}
                    {% set comment = 'La barre de navigation a été modifié avec succès !' %}
                {% endif %}

                {% if comment %}
                    <div class="ml-3">
                        <p class="text-sm font-medium text-green-800">{{ comment }}</p>
                    </div>
                {% endif %}
            </div>
        </div>
    {% endif %}
    <div class="w-full pt-10 pl-20 pr-20">

        <div class="flex justify-between mb-10">
            <h1 class="text-4xl font-bold tracking-tight text-gray-900 pb-15">Articles({{articles.length}})</h1>
            <a href="/articles/create" >
                {{ button.primary("+ Nouveau",size="large")}}
            </a>
        </div>

        {% set totalArticles = articles.length%}
        {% set currentPage = 1 %}
        {% set articlesPerPage = 5 %}
        {% set maxPage = (totalArticles / articlesPerPage) | round(0, "ceil") %}

        {% set currentPage = searchParams.page | default(1) | int %}

        {% set startIndex = (currentPage - 1) * articlesPerPage %}
        {% set endIndex = startIndex + articlesPerPage %}

        {% for article in articles.slice(startIndex, endIndex) %}
            <div class="flex flex-col pt-1">
                <div class="box-border p-4 border-2 border-gray-500 rounded-md">
                    <div class="flex">
                        <div>
                            <img class="w-40 h-20" src="{{article.image}}">
                        </div>
                        <div class="px-5 w-full">
                            <h2 class="font-medium pb-2">{{article.title}}</h2>

                            {{ button.primary(article.categoryId | getCategoryNameById(category))}}

                            <div class="flex justify-between items-center ">
                                <p class="pt-2 font-light text-xs">
                                    {% if article.updatedAt %}
                                         Dernière modification le {{ article.updatedAt | formattedDate }}
                                    {% else %}
                                        Créé le {{ article.createdAt | formattedDate }}
                                    {% endif %}
                                </p>
                                <div class="flex">
                                    {%if article.status === "published"%}
                                        <a href="" class="mr-5">
                                            {{ button.primary("Publié" + button.iconOpenTab())}}
                                        </a>
                                        {%else%}
                                        <a href="" class="mr-5">
                                            {{ button.primary("Brouillon")}}
                                        </a>
                                        {%endif%}
                                        <a href="/articles/{{article.id}}"class="mr-5">
                                            {{ button.primary("Editer")}}
                                        </a>
                                        <form method="POST" class="inline-flex" id="form_{{loop.index0}}" action="/articles/delete">
                                            <input type="hidden" name="id" value="{{article.id}}">
                                            {{ button.primary("Supprimer") }}
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <p class="flex justify-center pt-5 font-semibold">Page: {{searchParams.page or 1}}/{{maxPage}}</p>
            <div class="pagination flex justify-center pt-10 space-x-96">
                {% if currentPage > 1 %}
                    <a href="?page={{ currentPage - 1 }}">
                        {{ button.primary("Précedent", type="submit") }}
                    </a>
                {% endif %}
                {% if currentPage < maxPage %}
                    <a href="?page={{ currentPage + 1 }}">
                        {{ button.primary("Suivant", type="submit") }}
                    </a>
                {% endif %}
            </div>
        </div>
        {% include "src/components/modalDelete.njk" %}
        {% endblock%}