{% extends "src/components/layout.njk" %}
{% import "src/components/button.njk" as button %}

{% block main %}

    {% if searchParams.editCategorySuccess or searchParams.deleteCategorySuccess or searchParams.createCategorySuccess%}
        <div class="absolute w-full rounded-md bg-green-50 p-4 mb-4">
            <div class="flex">
                <div class="flex-shrink-0">
                    <svg class="h-5 w-5 text-green-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd"/>
                    </svg>
                </div>

                {% if searchParams.editCategorySuccess %}
                    {% set comment = 'Les catégories ont été modifiées avec succès !' %}
                {% elif searchParams.deleteCategorySuccess %}
                    {% set comment = 'Votre catégorie a été supprimée avec succès !' %}
                {% elif searchParams.createCategorySuccess %}
                    {% set comment = 'Votre catégorie a été créée avec succès !' %}
                {% endif %}

                {% if comment %}
                    <div class="ml-3">
                        <p class="text-sm font-medium text-green-800">{{ comment }}</p>
                    </div>
                {% endif %}
            </div>
        </div>
    {% endif %}
    <div class="w-full mt-16 pl-20 pr-20">
        <div class="ml-40 items-baseline mb-10">
            <h1 class="text-4xl font-bold tracking-tight text-gray-900 ">Gestion des categories</h1>
        </div>
        <div class="flex justify-end mb-10">
            <button class=" px-40 text-blue-600 ">
                <a href="https://ableton-dynamique.vercel.app/" target="_blank" class="inline-flex">Site web
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 ml-2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 6H5.25A2.25 2.25 0 003 8.25v10.5A2.25 2.25 0 005.25 21h10.5A2.25 2.25 0 0018 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25"></path>
                    </svg>
                </a>
            </button>
        </div>
        <div class="flex flex-col px-40">
            <div class="text-2xl font-bold flex justify-center">
                <h1>Editer les catégories</h1>
            </div>
            <form method="POST" action="/article-category/edit" class="space-y-4">
                <div class ="">
                    <label for="name" class="text-xl font-medium leading-6 text-gray-900">Noms</label>
                    <div class="grid grid-cols-3 gap-4">
                        {% for categorys in category %}
                            <input type="text" name="name_{{loop.index0}}" value="{{ categorys.name }}" class="block my-2 w-40 rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-gray-600">
                        {% endfor %}
                    </div>
                    <div class="flex justify-end">
                        {{ button.primary("Sauvegarder",size="large",type="submit")}}
                    </div>
                </div>
            </form>
        </div>
        <div class="mx-20">
            <div class="my-10 mx-60 flex items-center justify-center border-t-1 border-b-2 border-gray-500"></div>
        </div>

        <div class="mx-40">
            <div class="text-2xl font-bold flex justify-center">
                <h1>Ajouter une nouvelle catégorie</h1>
            </div>
            <form method="POST" action="/article-category/add" class="space-y-4">
                <label for="name" class="text-xl font-medium leading-6 text-gray-900">Nom</label>
                <div class ="flex justify-between items-baseline">

                    <div>
                        <input type="text" name="name" value="" required class="block  w-40 rounded-md border-0  text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-gray-600">
                    </div>
                    <div>
                        {{ button.primary("Ajouter",size="large",type="submit")}}
                    </div>
                </div>
            </form>
        </div>

        <div class="mx-20">
            <div class="my-10 mx-60 flex items-center justify-center border-b-2 border-gray-500"></div>
        </div>

        <div class="mx-40">
            <div class="text-2xl font-bold flex justify-center">
                <h1>Supprimer une catégorie</h1>
            </div>
            <form method="POST" action="/article-category/delete" class="space-y-4">
                <label class="mr-5 font-semibold text-xl" for="category"> Catégories 
                            </label>
                <div class="flex justify-between">
                    <div>
                        <select class="rounded-md block rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-gray-600" name="id" id="id">
                            <option  value="" selected>~Veuillez sélectionner une catégorie~</option>
                            {% for selectCategory in category %}
                                <option  value="{{ selectCategory.categoryId }}">{{ selectCategory.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div>
                        {{ button.primary("Supprimer",size="large",type="submit")}}
                    </div>
                </div>
            </form>
        </div>
    </div>
    {% endblock%}